.arrow-left {
    width: 4rem;
    z-index: 15;
}

@media (max-width: 1030px) {
    .arrow-left {
        width: 4rem;
        padding-left: 1.5rem;
      }
}

@media (max-width: 770px) {
  .arrow-left {
    width: 3.4rem;
    padding-left: 0.9rem;
  }
    
}

@media (max-width: 500px) {
    .arrow-left {
        width: 3rem;
        padding-left: 0.75rem;
    }
}