.close {
    position: fixed;
    width: 2.7rem;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 15;
    visibility: hidden;
}

@media (max-width: 1030px) {
    .close {
        width: 2.2rem;
      }
}

@media (max-width: 768px) {
  .close {
    width: 2rem;
  }
    
}

@media (max-width: 500px) {
    .close {
        top: 1.2rem;
        right: 1.2rem;
        width: 1.7rem;
      }
}